* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body{
  line-height: 20px;
  font-family: 'MyCustomFont', sans-serif;
}

/* first page */

.first{
  background-color: salmon;
}

.maincontainer0 {
  width: 100%;
  flex-direction: row;
  display: flex;
}

.left1, .right1 {
  height: 100%;
}

.left1 {
  background:white;
  width: 50%;
  margin: 15px;
}

.right1 {
  background: white;
  width: 50%;
  height: 200px;
  margin: 15px;
}

.english, .spanish {
  padding: 10px;
}

h1 { 
  line-height: 24px;
  padding: 10px;
 }

.column-wrapper {
    display: flex;
}


/* gallery */

.maincontainer2 {
  height: 300px;
  margin: 10px;
  margin-left: 0px;
}

h2, h3{
  margin-left: 15px;
  text-size-adjust: 24px;
  margin-top: 15px;
}

h4{
  margin: 0px;
}

.carousel{
  padding: 10px;
  max-width: 100%;
  width: 100%;
  margin:auto;
}

.images-container{
  display:flex;
  gap:40px;
  overflow-x: auto;
}

.images-container img{
  height: 200px;
  width:500px;
}

/* secondpage */

.left3 {
  display:flex;
  justify-content:space-between;
  flex-direction:column;
  align-items:center;
  height: 500px;
  width:60%;
  float: left;
  margin-left: 15px;
}

.leftup {
  height: 200px;
  width:100%;
  background-color: rgb(  250, 128, 114);
}



.container{
  height:500px;
  width:100%;
}

img{
  width: 50%;
  height: 50%;
}

/*   FILTERS  */

.filters,
.list {
  padding: 20px;
}


.list{
  height: 700px;
}

.filter-btn {
  color: white;
  background-color: rgb(  250, 128, 114);
  border-radius: 20px;
  width: 100px;
  height: 30px;
  text-align: center;
  border: none;
  
}

.filter-btn.active {
  border-color: rgb(186, 91, 80);
  background:  rgb(186, 91, 80);
}


li {
  list-style-type: none;
  margin: 10px;
  width: 100%;
}

li:hover {
  background: rgb(  250, 128, 114);
}


.base{
  height: 100%;
  width: 70%;
}

.container .card.hide {
  display: none;
}

.hide {
  display: none;
}

.container .card.show {
  animation: fadeIn 0.5s ease;
}


/* drag drop */
.dropzone{
  height: 90%;
    width: 80%;
    display: flex;
  justify-content: center;
  align-items: center;
} 

.myclass {
  height: 450px;
    width: 90%;
}

.card {
  border: 2px solid black;
  padding: 15px;
}

.dragover {
  border: dashed 3px red;
}


#drop-area{
  background-color: blue;
  margin-top:50px;
}

#instructions-area{
 
  background-color: rgb(  250, 128, 114);
  margin:20px;
  margin-top:50px;
  padding:20px;
}

.bed-img{
  height: 200px;
  width: 900px;
}
.right3 {
  border:4px solid rgb( 250, 128, 114);
  display:flex;
  justify-content:space-between;
  flex-direction:column;
  height: 700px;
  width: 36%;
  float: right;
  background-color: white;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 5px;
  margin-top: 0px;
  overflow-y: auto;
}

#drop-playground{
  padding: 20px;
  margin:20px;
}

#obj-section{
  border:4px solid rgb( 250, 128, 114);
  height: 700px;
  width: 30%;
  float: right;
  background-color: white;
  overflow-y: auto;
}

.plant-dropzone{
  text-align: center;
  width:100%;
  margin-right:10px;
  margin-top:100px;
  margin-bottom: -2rem;
  cursor:grab;
  height:100px;
  z-index:1000;
}

.fish-dropzone{
  text-align: center;
  width:100%;
  margin-right:10px;
  margin-bottom:100px;
  margin-top: -2rem;
  cursor:grab;
  height:100px;
  z-index:1000;
}

.highlight-plant{
  border: 3px dashed #4a865c;
  background-color: rgba(35, 106, 22, 0.1);
}


.highlight-fish{
  border: 3px dashed #007bff;
  background-color: rgba(0, 123, 255, 0.1);
}

.container{
  cursor: grab;
}

